<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-dark);
		border: 1px solid var(--custom-color-6);
		/* box-shadow: inset 1px 1px 1px 2px var(--custom-color-1); */
		box-shadow: 0 0 0 1px var(--custom-color-1);
		background: var(--accent-subtle-overlay);
		border-radius: 999rem;
		font-size: var(--text-lg);
		line-height: 1.35;
		white-space: nowrap;
	}
</style>
