<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-dark);
		border: 1px solid var(--gradient-regular);
		box-shadow: inset 0 0 0 1px var(--accent-regular);
		background: var(--accent-subtle-overlay);
		border-radius: 999rem;
		font-size: var(--text-lg);
		line-height: 1.35;
		white-space: nowrap;
	}
</style>
